@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@200;400&family=Rubik&display=swap");
body {
  font-family: "Lexend", Arial, Helvetica, sans-serif;
}

main.login {
  display: flex;
  flex-direction: row;
  width: 100vw;
  color: white;
}
main.login section {
  width: 66vw;
  background-color: rgb(70, 73, 85);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main.login section h1 {
  width: 100%;
  text-align: center;
  font-size: 4rem;
  margin-bottom: 2rem;
  color: rgb(32, 180, 137);
}
main.login section h2 {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
}
main.login section img {
  margin-top: 2rem;
  border-radius: 1rem;
}
main.login aside {
  width: 34vw;
  background-color: rgb(55, 58, 66);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main.login aside h2 {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}
main.login aside form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main.login aside form input {
  width: 60%;
  font-size: 1.3rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  background-color: rgb(70, 73, 85);
  color: white;
}
main.login aside form button {
  width: 60%;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  background-color: rgb(32, 180, 137);
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}
main.login aside p {
  width: 100%;
  text-align: center;
  margin-top: 1rem;
}
main.login aside p .link {
  color: rgb(32, 180, 137);
  text-decoration: none;
}

body {
  background-color: rgb(55, 58, 66);
  height: 100vh;
}

main.home {
  background-color: rgb(55, 58, 66);
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 70rem;
}

header.top {
  width: 100%;
  background-color: rgb(37, 38, 46);
}
header.top > div {
  max-width: 80rem;
  margin: 0 auto;
  display: flex;
  height: 4.5rem;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  background-color: rgb(37, 38, 46);
}
header.top h1 {
  font-size: 2rem;
  margin-left: 1.25rem;
}
header.top h1 a {
  text-decoration: none;
  color: rgb(32, 180, 137);
}
header.top nav {
  margin-right: 1.25rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1.25rem;
}
header.top nav div.lang {
  width: 4rem;
  text-decoration: none;
  color: gray;
}
header.top nav div.lang a {
  text-decoration: none;
  color: gray;
}
header.top nav div.lang a.active {
  color: rgb(32, 180, 137);
}
header.top nav button {
  padding: 0 1rem 0 2.5rem;
  border-radius: 0.8rem;
  border: none;
  background-color: rgb(32, 180, 137);
  color: white;
  font-size: 1rem;
  height: 2.5rem;
  cursor: pointer;
  background-image: url("../img/add.svg");
  background-repeat: no-repeat;
  background-position: 0.75rem;
  background-size: 1.5rem;
}
header.top nav img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.75rem;
  vertical-align: middle;
  cursor: pointer;
}

aside.topics {
  min-width: 15rem;
  max-width: 15rem;
  margin: 3rem;
  height: fit-content;
  position: relative;
}
aside.topics h2 {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: rgb(118, 118, 118);
}
aside.topics input[type=text] {
  box-sizing: border-box;
  padding: 0.5rem;
  padding-left: 3rem;
  border-radius: 0.75rem;
  border: none;
  background-color: rgb(70, 73, 85);
  color: white;
  font-size: 1.25rem;
  margin-bottom: 1rem;
  filter: drop-shadow(0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.25));
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-size: 1.5rem;
  background-position: 0.75rem center;
  width: 100%;
}
aside.topics ul {
  background-color: rgb(70, 73, 85);
  border-radius: 0.75rem;
  filter: drop-shadow(0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.25));
  color: white;
  max-height: calc(100vh - 16rem);
  overflow-y: scroll;
}
aside.topics ul::-webkit-scrollbar {
  width: 0.5rem;
}
aside.topics ul::-webkit-scrollbar-track {
  background: rgb(70, 73, 85);
  border-radius: 0 2rem 2rem 0;
}
aside.topics ul::-webkit-scrollbar-track-piece {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
aside.topics ul::-webkit-scrollbar-thumb {
  background: rgb(118, 118, 118);
  border-radius: 1rem;
}
aside.topics li {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  border-bottom: 0.01rem solid rgb(118, 118, 118);
}
aside.topics li:last-child {
  border-bottom: none;
}
aside.topics li h3 {
  font-size: 1rem;
}
aside.topics li p {
  color: rgb(118, 118, 118);
  font-size: 0.8rem;
}
aside.topics li.selected h3 {
  color: rgb(32, 180, 137);
}
aside.topics li:hover {
  background-color: rgb(55, 58, 66);
}
aside.topics button {
  padding: 0.5rem;
  border-radius: 0.75rem;
  border: none;
  background-color: rgb(32, 180, 137);
  color: white;
  font-size: 0.8rem;
  width: 4rem;
  cursor: pointer;
  position: absolute;
  right: 0.75rem;
  bottom: -1rem;
  background-color: rgb(32, 180, 137);
}

div.ratables {
  overflow-y: scroll;
  padding-top: 3rem;
  margin-right: 3rem;
  padding-right: 1rem;
  height: calc(100vh - 4.5rem - 3rem);
  width: 100%;
}
div.ratables > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
div.ratables > div > div {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
div.ratables h2 {
  font-size: 1rem;
  text-transform: uppercase;
  color: rgb(118, 118, 118);
  margin-bottom: 1rem;
  display: inline;
}
div.ratables > div button {
  padding: 0.5rem;
  border-radius: 0.75rem;
  border: none;
  background-color: rgb(32, 180, 137);
  color: white;
  font-size: 1rem;
  cursor: pointer;
  margin-left: 1rem;
  padding-left: 2rem;
  background-position: 0.25rem center;
  background-repeat: no-repeat;
  background-size: 1.5rem;
}
div.ratables > div button.delete {
  background-image: url("../img/delete.svg");
}
div.ratables > div button.create {
  background-image: url("../img/add.svg");
}
div.ratables .search {
  box-sizing: border-box;
  padding: 0.5rem;
  padding-left: 3rem;
  border-radius: 0.75rem;
  border: none;
  background-color: rgb(70, 73, 85);
  color: white;
  font-size: 1.25rem;
  margin-bottom: 1rem;
  filter: drop-shadow(0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.25));
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-size: 1.5rem;
  background-position: 0.75rem center;
}
div.ratables::-webkit-scrollbar {
  width: 0.5rem;
}
div.ratables::-webkit-scrollbar-track {
  background: rgb(55, 58, 66);
}
div.ratables::-webkit-scrollbar-track-piece {
  margin-top: 3rem;
  margin-bottom: 2rem;
}
div.ratables::-webkit-scrollbar-thumb {
  background: rgb(118, 118, 118);
  border-radius: 1rem;
}

article.ratable {
  display: flex;
  flex-direction: row;
  background-color: rgb(70, 73, 85);
  border-radius: 0.75rem;
  filter: drop-shadow(0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.25));
  margin-bottom: 2rem;
  position: relative;
}
article.ratable img {
  width: 14rem;
  border-radius: 0.75rem 0 0 0.75rem;
  object-fit: scale-down;
  object-position: top;
  background-color: rgb(55, 58, 66);
}
article.ratable > div {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
}
article.ratable h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: white;
}
article.ratable p {
  font-size: 1rem;
  font-weight: lighter;
  color: white;
  margin-bottom: 1rem;
}
article.ratable h4 {
  font-size: 1rem;
  color: rgb(118, 118, 118);
  background-color: rgb(55, 58, 66);
  display: inline-block;
  padding: 0.25rem;
  margin-bottom: 0.25rem;
  border-radius: 0.5rem;
}
article.ratable .buttons {
  position: absolute;
  right: 1rem;
  top: 1rem;
}
article.ratable .buttons button {
  padding: 0.5rem;
  border-radius: 0.75rem;
  border: none;
  background-color: rgb(32, 180, 137);
  color: white;
  font-size: 1rem;
  cursor: pointer;
  padding-left: 2rem;
  background-position: 0.25rem center;
  background-repeat: no-repeat;
  background-size: 1.5rem;
}
article.ratable .buttons button:first-child {
  margin-right: 1rem;
}
article.ratable .buttons button.edit {
  background-image: url("../img/edit.svg");
}
article.ratable .buttons button.remove {
  background-image: url("../img/remove.svg");
}
article.ratable form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
article.ratable form h5 {
  color: white;
  padding: 0.5rem;
  font-size: 1.5rem;
  background-color: rgb(55, 58, 66);
  border-radius: 0.5rem;
}
article.ratable form > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
article.ratable form input[type=number] {
  border: none;
  height: 2rem;
  width: 2rem;
  padding-left: 3rem;
  padding-right: 0.5rem;
  font-size: 1.5rem;
  background-color: rgb(55, 58, 66);
  border-radius: 0.75rem;
  background-image: url("../img/star.svg");
  background-repeat: no-repeat;
  background-size: 1.5rem;
  background-position: 0.5rem center;
  color: white;
}
article.ratable form input[type=number]::-webkit-outer-spin-button, article.ratable form input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
article.ratable form input[type=number].unrate {
  color: rgb(118, 118, 118);
  pointer-events: none;
  background-image: url("../img/star.svg");
}
article.ratable form input[type=submit] {
  padding: 0.5rem;
  border-radius: 0.75rem;
  border: none;
  background-color: rgb(32, 180, 137);
  color: white;
  font-size: 1rem;
  cursor: pointer;
}
article.ratable form input[type=submit].unrate {
  background-color: rgb(55, 58, 66);
  color: rgb(32, 180, 137);
}

.hot-topics {
  margin-top: 3rem;
}
.hot-topics h2 {
  text-transform: uppercase;
  color: rgb(118, 118, 118);
}
.hot-topics ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: fit-content;
}
.hot-topics ul li {
  background-color: rgb(70, 73, 85);
  height: 5rem;
  margin: 1rem;
  line-height: 5rem;
  flex-basis: calc(33.3333333333% - 2rem);
  filter: drop-shadow(0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.25));
  border-radius: 0.75rem;
  color: white;
  cursor: pointer;
  padding-left: 0.5rem;
  box-sizing: border-box;
  font-size: 1.5rem;
}
.hot-topics ul li span {
  font-size: 3rem;
  margin-right: 1rem;
  color: rgb(32, 180, 137);
}

.ratable-form {
  width: 50rem;
  margin: 3rem auto 0 auto;
}
.ratable-form h3 {
  text-transform: uppercase;
  color: rgb(118, 118, 118);
  margin-bottom: 1rem;
}
.ratable-form form {
  background-color: rgb(70, 73, 85);
  border-radius: 1rem;
  padding: 1rem;
  filter: drop-shadow(0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.25));
}
.ratable-form form > div {
  display: flex;
  justify-content: row;
  gap: 1rem;
}
.ratable-form form > div h4 {
  margin-bottom: 0.5rem;
  color: rgb(118, 118, 118);
}
.ratable-form form > div input[type=text], .ratable-form form > div textarea {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-sizing: border-box;
  border: none;
  background-color: rgb(55, 58, 66);
  color: white;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  font-family: "Lexend", Arial, Helvetica, sans-serif;
}
.ratable-form form > div textarea {
  resize: none;
}
.ratable-form form > div + div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.ratable-form form > div + div input[type=file] {
  color: white;
  font-size: 1rem;
}
.ratable-form form > div + div input[type=file]::-webkit-file-upload-button {
  padding: 0.5rem;
  border-radius: 0.8rem;
  border: none;
  background-color: rgb(32, 180, 137);
  color: white;
  font-size: 1rem;
  height: 2.5rem;
  width: 8rem;
  cursor: pointer;
}
.ratable-form form > div + div input[type=submit] {
  padding: 0.5rem;
  border-radius: 0.8rem;
  border: none;
  background-color: rgb(32, 180, 137);
  color: white;
  font-size: 1rem;
  height: 2.5rem;
  width: 8rem;
  cursor: pointer;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.pagination input {
  box-sizing: border-box;
  padding: 0.5rem;
  border-radius: 0.75rem;
  border: none;
  background-color: rgb(70, 73, 85);
  color: white;
  font-size: 1rem;
  filter: drop-shadow(0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.25));
  margin: 0 0.5rem;
  width: 3rem;
  text-align: center;
}
.pagination button {
  padding: 0.5rem;
  border-radius: 0.75rem;
  border: none;
  background-color: rgb(32, 180, 137);
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

/*# sourceMappingURL=screen.css.map */
