@use '../constraints.scss';

body{
    background-color: constraints.$color-rate-it-background;
    height: 100vh;
}

main.home{
    background-color: constraints.$color-rate-it-background;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 80rem;
}