@use '../constraints.scss';

header.top {
	width: 100%;
	background-color: constraints.$color-rate-it-background-top;

    > div {
        max-width: 80rem;
        margin: 0 auto;
        display: flex;
        height: 4.5rem;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        background-color: constraints.$color-rate-it-background-top;
    }

	h1 {
		font-size: 2rem;
		a {
			text-decoration: none;
			color: constraints.$color-rate-it-green;
		}
	}

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 1.25rem;

        div.lang {
            width: 4rem;
            text-decoration: none;
            color: gray;
            a {
                text-decoration: none;
                color: gray;
                &.active{
                    color: constraints.$color-rate-it-green;
                }
            }
        }

        button {
            padding: 0 1rem 0 2.5rem;
            border-radius: 0.8rem;
            border: none;
            background-color: constraints.$color-rate-it-green;
            color: white;
            font-size: 1rem;
            height: 2.5rem;
            cursor: pointer;
            background-image: url('../img/add.svg');
            background-repeat: no-repeat;
            background-position: 0.75rem;
            background-size: 1.5rem;
        }

        img {
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 0.75rem;
            vertical-align: middle;
            cursor: pointer;
        }
    }
}
