@use '../constraints.scss';

aside.topics {
	background-color: constraints.$color-rate-it-background-secundary;
    border-radius: 0.75rem;
	filter: constraints.$filter;
	color: white;
	width: 20rem;
	margin: 3rem;
	height: fit-content;

	li {
		padding: 1rem;
		display: flex;
		flex-direction: column;
		cursor: pointer;
		border-bottom: 0.01rem solid constraints.$color-rate-it-gray;
		&:last-child {
			border-bottom: none;
			padding-bottom: 1.5rem;
		}

		h3 {
			font-size: 1rem;
		}

		p {
			color: constraints.$color-rate-it-gray;
			font-size: 0.8rem;
		}

        &.selected {
            h3 {
                color: constraints.$color-rate-it-green;
            }
        }

		&:hover{
			background-color: constraints.$color-rate-it-background;
		}
	}


	button {
		padding: 0.5rem;
		border-radius: 0.75rem;
		border: none;
		background-color: constraints.$color-rate-it-green;
		color: white;
		font-size: 0.8rem;
        width: 4rem;
        cursor: pointer;
		position: absolute;
		right: 0.75rem;
		bottom: -1rem;
		background-color: constraints.$color-rate-it-green;
	}
}
