@use '../constraints.scss';

aside.topics {
	min-width: 15rem;
	max-width: 15rem;
	margin: 3rem;
	height: fit-content;
	position: relative;

	h2 {
		font-size: 1rem;
		margin-bottom: 1rem;
		color: constraints.$color-rate-it-gray;
	}

	input[type='text'] {
		width: 100%;
		box-sizing: border-box;
		padding: 0.5rem;
		padding-left: 3rem;
		border-radius: 0.75rem;
		border: none;
		background-color: constraints.$color-rate-it-background-secundary;
		color: white;
		font-size: 1.25rem;
		margin-bottom: 1rem;
		filter: constraints.$filter;
		background-image: url('../img/search.svg');
		background-repeat: no-repeat;
		background-size: 1.5rem;
		background-position: 0.75rem center;
	}

	ul {
		background-color: constraints.$color-rate-it-background-secundary;
		border-radius: 0.75rem;
		filter: constraints.$filter;
		color: white;
		max-height: calc(100vh - 16rem);
		overflow-y: scroll;

		&::-webkit-scrollbar {
			width: 0.5rem;
		}

		&::-webkit-scrollbar-track {
			background: constraints.$color-rate-it-background-secundary;
			border-radius: 0 2rem 2rem 0;
		}
	
		&::-webkit-scrollbar-track-piece {
			margin-top: 1rem;
			margin-bottom: 1rem;
		}
	
		&::-webkit-scrollbar-thumb {
			background: constraints.$color-rate-it-gray;
			border-radius: 1rem;
		}
	}

	li {
		padding: 1rem;
		display: flex;
		flex-direction: column;
		cursor: pointer;
		border-bottom: 0.01rem solid constraints.$color-rate-it-gray;
		&:last-child {
			border-bottom: none;
		}

		h3 {
			font-size: 1rem;
		}

		p {
			color: constraints.$color-rate-it-gray;
			font-size: 0.8rem;
		}

        &.selected {
            h3 {
                color: constraints.$color-rate-it-green;
            }
        }

		&:hover{
			background-color: constraints.$color-rate-it-background;
		}
	}


	button {
		padding: 0.5rem;
		border-radius: 0.75rem;
		border: none;
		background-color: constraints.$color-rate-it-green;
		color: white;
		font-size: 0.8rem;
        width: 4rem;
        cursor: pointer;
		position: absolute;
		right: 0.75rem;
		bottom: -1rem;
		background-color: constraints.$color-rate-it-green;
	}
}
