@use '../constraints.scss';

aside.topics {
	background-color: constraints.$color-rate-it-background-secundary;
    border: 0.5rem solid constraints.$color-rate-it-background-secundary;
    border-radius: 0.5rem;
	filter: constraints.$filter;
	position: relative;
	color: white;
	height: 40vh;
	margin-top: 15vh;

	ul{
        li{
            padding: 0.1rem;
            &:hover{
                background-color: constraints.$color-rate-it-background;
            }
        }
        
    }

	article {
		padding: 1rem;
		width: 100%;
		display: flex;
		flex-direction: column;
		margin-bottom: 0.5rem;
		cursor: pointer;
		h3 {
			font-size: 1rem;
		}
		p {
			color: constraints.$color-rate-it-gray;
			font-size: 0.8rem;
		}

        &.selected {
            h3 {
                color: constraints.$color-rate-it-green;
            }
        }
	}


	button {
		padding: 0.5rem;
		border-radius: 0.8rem;
		border: none;
		background-color: constraints.$color-rate-it-green;
		color: white;
		font-size: 0.8rem;
        width: 4rem;


        cursor: pointer;
		position: absolute;
		right: 0rem;
		bottom: -1.3rem;
		background-color: constraints.$color-rate-it-green;
	}
}
