
$color-rate-it-green: rgba(32, 180, 137, 1);
$color-rate-it-background-secundary: rgba(55, 58, 66, 1);
$color-rate-it-background: rgba(37, 38, 46, 1);



@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

$font: 'Lexend', Arial, Helvetica, sans-serif;

body{
    font-family: $font;
}