
$color-rate-it-green: rgba(32, 180, 137, 1);

$color-rate-it-background: rgba(55, 58, 66, 1);
$color-rate-it-background-secundary: rgba(70, 73, 85, 1);
$color-rate-it-background-top: rgba(37, 38, 46, 1);
$color-rate-it-gray: rgba(118, 118, 118, 1);

$filter: drop-shadow(0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.25));



@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@200;400&family=Rubik&display=swap');

$font: 'Lexend', Arial, Helvetica, sans-serif;

body {
    font-family: $font;
}

@mixin search {
    box-sizing: border-box;
    padding: 0.5rem;
    padding-left: 3rem;
    border-radius: 0.75rem;
    border: none;
    background-color: $color-rate-it-background-secundary;
    color: white;
    font-size: 1.25rem;
    margin-bottom: 1rem;
    filter: $filter;
    background-image: url('../img/search.svg');
    background-repeat: no-repeat;
    background-size: 1.5rem;
    background-position: 0.75rem center;
}

@mixin button {
    padding: 0.5rem;
    border-radius: 0.75rem;
    border: none;
    background-color: $color-rate-it-green;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}
